
#about-body {
    z-index: 0;
    background-color: rgb(15, 24, 66);
    width: 100vw;
    height: max-content;
}

#about-header-wrapper {
    display: grid;
    transform: translateY(500px);
    animation: drag-in-animation 1s ease-out forwards;
    background-image: url(../assets/phoenix-image-3.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top -70px;
    height: 80vh;
    opacity: 0;
}

.service-price {
    font-weight: bold;
}

#licensed-bonded-insured {
    margin-top: 15vh;
    justify-self: center;
    font-size: 3rem;
    text-align: center;
}

#about-header {
    margin-top: 0;
    justify-self: center;
    width: 80%;
    font-size: 1.2rem;
}

#services-wrapper {
    display: flex;
    height: max-content;
    transform: translateY(500px);
    animation: drag-in-animation 1s ease-out forwards;
    opacity: 0;
}

.about-service {
    margin-left: 15px;
    margin-right: 2px;
    border-right: 1px solid white;
    padding: 5px;
}

.about-service p {
    color: white;
    font-size: 1vw;
}

.about-service h1 {
    color: white
}

.about-service:nth-of-type(3) {
    border-right: none;
}

@keyframes drag-in-animation {
    from {
        opacity: 0;
        transform: translateY(500px)
    }
    
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (orientation: portrait) {
    #services-wrapper {
        display: flex;
        flex-direction: column;
    }

    .about-service p {
        font-size: 2vw;
    }
}
