
#about-body {
    z-index: 0;
    background-color: rgb(233, 228, 202);
    width: 100vw;
    height: max-content;
}

#about-header-wrapper {
    display: grid;
    transform: translateY(500px);
    animation: drag-in-animation 1s ease-out forwards;
    background-image: url(../assets/phoenix-arizona-3.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top -10px;
    height: 80vh;
    opacity: 0;
    z-index: 1;
}

.service-price {
    font-weight: bold;
}

#licensed-bonded-insured {
    margin-top: 15vh;
    justify-self: center;
    font-size: 7vh;
    text-align: center;
}

#about-header {
    justify-self: center;
    width: 80%;
    font-size: 1.2rem;
}

#services-wrapper {
    display: flex;
    justify-content: center;
    margin-top: -40px;
    height: max-content;
    transform: translateY(500px);
    animation: drag-in-animation 1s ease-out forwards;
    opacity: 0;
}

.about-service {
    margin: 30px;
    margin-top: 0;
    border: 1px solid black;
    background-color: antiquewhite;
    width: 30vw;
    justify-self: center;
    text-align: center;
    box-shadow: 2px 2px 10px 2px black;
    z-index: 2;
}

.about-service p {
    color: black;
    font-size: 1vw;
}

.about-service h1 {
    color: black
}

.about-service:nth-of-type(3) {
    border-right: none;
}

@keyframes drag-in-animation {
    from {
        opacity: 0;
        transform: translateY(500px)
    }
    
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (orientation: portrait), (max-width: 690px) {
    #services-wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    .about-service {
        width: max-content;
        margin-left: 10px;
        margin-right: 10px;
    }

    .about-service p {
        font-size: 3vw;
    }
}

@media (orientation: portrait) and (max-width: 320px) {
    #licensed-bonded-insured {
        font-size: 10vw;
    }
}

@media (orientation:landscape) and (max-width: 700px) {

    #licensed-bonded-insured {
        font-size: 4vw;
    }
    .about-service {
        width: 60%;
        font-size: 2vw;
    }

    .about-service p {
        font-size: 1.5vw;
    }
}

@media (orientation:landscape) and (max-height: 300px) {
    #about-header-wrapper {
        height: 100vh;
    }
}
