#admin-body {
    display: flex;
    flex-wrap: wrap;
    background-image: url('../assets/blob-scene-haikei.svg');
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
}

#login-form-wrapper {
    justify-self: center;
    display: grid;
    padding: 30px;
    padding-top: 0;
    border: 2px solid #3f1c02;
    background-color: rgba(255, 140, 0, 0.308);
    background-size: cover;
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 0px 5px 20px 0px black;
    width: 200px;
}

#login-form-wrapper:hover {
    transform: translateY(-2px);
}

#login-form-header {
    width: 100%;
    text-align: center;
    margin-top: 0;
    justify-self: center;
}

.input-label.username {
    justify-self: center;
}

.input.username {
    justify-self: center;
    margin-bottom: 20px;
    height: 30px;
    text-align: center;
    font-size: 1rem;
}

.input-label.password {
    justify-self: center;
    margin-top: -20px;
}

.input.password {
    justify-self: center;
    text-align: center;
    height: 30px;
    font-size: 1rem;
    margin-bottom: 30px;
}

#login-button {
    margin-top: 0px;
    background-color: antiquewhite;
    border-radius: 10px;
    font-family: 'PTSansNarrow';
    font-weight: bold;
    font-size: 1.2rem;
}

#login-button:hover {
    transform: translateY(-2px);
    background-color: rgb(227, 158, 68);
    cursor: pointer;
}

#login-failed {
    font-family: 'PTSansNarrow';
    font-weight: bold;
    color: red;
    font-size: 1.2rem;
    text-align: center;
}

#navigation-section {
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-areas: 'hours blocked-dates blocked-times'
                         'hours pending-appointments pending-appointments';
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

#hours-setter-wrapper {
    border: 2px solid black;
    width: 300px;
    height: 730px;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-self: center;
    box-shadow: 4px 4px 10px 0px black;
    background-color: rgba(250, 235, 215, 0.401);
    grid-area: hours;
}

#blocked-dates-setter-wrapper {
    grid-area: blocked-dates;
}

#blocked-times-setter-wrapper {
    grid-area: blocked-times;
}

#appointment-confirmation-setter-wrapper {
    grid-area: pending-appointments;
}

#hours-header {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 2px solid black;
}

#weekday-setter-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.day-selector-label {
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'PTSansNarrow', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.days-toggle {
    background-color: rgb(231, 196, 150);
    border-radius: 5px;
    margin-top: 5px;
    font-family: 'PTSansNarrow';
    font-weight: bold;
    font-size: .9rem;
    width: 50%;
    align-self: center;
}

.days-toggle:hover {
    background-color: rgb(203, 159, 105);
    cursor: pointer;
}

.days-toggle.closed ~ #days-list .list-item-day {
    height: 0;
    overflow: hidden;
    background-color: rgba(250, 235, 215, 0.429);
    transition: height 400ms cubic-bezier(0.23, 1, 0.320, 1);
}

.days-toggle.open ~ #days-list .list-item-day {
    height: 1.5rem;
    border: 1px solid black;
    background-color: rgba(243, 208, 162, 0.76);
    transition: height 400ms cubic-bezier(0.23, 1, 0.320, 1); 
}

.list-item-day {
    cursor: pointer;
}

#days-list .list-item-day:hover {
    background-color: rgb(209, 160, 91) !important;
}

#days-list {
    position: absolute;
    list-style-type: none;
    margin-top: 53px;
    padding-left: 0;
    width: 148px;
    align-self: center;
    font-weight: bold;
}

#current-hours-wrapper {
    display: flex;
    flex-direction: column;
}

#current-hours-header {
    margin-bottom: 5px;
    text-decoration: underline;
}

#hours-list {
    margin-top: 0;
    font-weight: bold;
    width: 80%;
    background-color: antiquewhite;
    border: 1px solid black;
    align-self: center;
}

#hours-editor-header {
    margin-bottom: 0;
    text-decoration: underline;
}

#hours-editor-wrapper {
    display: flex;
    min-height: 400px;
    flex-direction: column;
    
}

#add-hours-label {
    margin-top: 0;
    font-weight: bold;
}

#add-hours {
    text-align: center;
    width: 30%;
    align-self: center;
}

.am-pm {
    background-color: rgb(231, 196, 150);
    border-radius: 5px;
    font-weight: bold;
}

.am-pm:hover {
    cursor: pointer;
    background-color: rgb(203, 159, 105);

}

#delete-hours-label {
    font-weight: bold;
}

#delete-hours {
    text-align: center;
    width: 30%;
    align-self: center;
}

#add-button {
    width: 20%;
    align-self: center;
    background-color: rgb(151, 231, 150);
    font-family: 'PTSansNarrow';
    font-weight: bold;
    font-size: .9rem;
    margin-top: 1px;
    border-radius: 5px;
    margin-right: 30px;
}

#add-button:hover {
    background-color: rgb(63, 168, 61);
    cursor: pointer;
}

#delete-button {
    width: 20%;
    align-self: center;
    background-color: rgb(224, 120, 97);
    font-family: 'PTSansNarrow';
    font-weight: bold;
    font-size: .9rem;
    margin-top: 1px;
    border-radius: 5px;
    margin-right: 30px;
}

#delete-button:hover {
    background-color: rgb(185, 66, 39);
    cursor: pointer;
}

.hours-edit-status {
    font-weight: bold;
    margin-top: 0;
}

.hours-edit-status.true {
    color: rgb(44, 114, 44);
}

.hours-edit-status.false {
    color: rgb(207, 46, 46);
}

@media screen and (max-width: 480px) {
    #navigation-section {
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 820px) {
    #navigation-section {
        display: flex;
    }
}

@media screen and (max-width: 920px) {
    #navigation-section {
        display: flex;
    }
}