#appointment-confirmation-setter-wrapper {
    display: grid;
    flex-direction: column;
    height: max-content;
    border: 2px solid black;
    margin-bottom: 20px;
    margin-top: -20px;
    width: 300px;
    background-color: rgba(250, 235, 215, 0.401);
    box-shadow: 4px 4px 10px 0px black;
    min-height: 350px;
    grid-area: pending-appointments;
}

#appointment-confirmation-header {
    border-bottom: 2px solid black;
    padding-bottom: 0;
    text-align: center;
    font-size: 1.5rem;
    color: black;
}

#pending-appointments-header {
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
    color: black;
}

#pending-appointments-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    font-weight: bold;
    border: 1px solid black;
    padding-left: 0;
    text-align: center;
    justify-self: center;
    width: 80%;
    margin-top: 0;
    height: max-content;
    background-color: antiquewhite;
    color: black;
}

.pending-appointment {
    height: 40px;
    padding-top: 0;
    color: black;
}

.pending-appointment:not(:last-of-type) {
    border-bottom: 1px solid black;
}

.pending-appointment:hover {
    cursor: pointer;
    background-color: rgb(180, 170, 156);
}

.date-input.appointment {
    width: 90%;
    align-self: center;
    margin-bottom: 10px;
    margin-top: 5px;
    height: auto;
}

#pending-appointments-list ~ .input-and-suffix-wrapper {
    display: flex;
    justify-content: center;
}

#pending-appointments-list ~ .blocked-date-label{
    text-align: center;
}

#appointment-confirmation-buttons-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#appointment-confirmation-buttons-wrapper #remove-dates-button {
    align-self: center;
}

#appointment-confirmation-buttons-wrapper #confirm-dates-button {
    align-self: center;
    margin-top: 0;
}
@media screen and (max-width: 920px ) {
    #appointment-confirmation-setter-wrapper {
        transform: translateY(-240px);
        height: 255px
    }

    #blocked-times-setter-wrapper {
        transform: translateX(170px);
        margin-top: -10px;
    }
}

@media screen and (max-width: 480px) {
    #appointment-confirmation-setter-wrapper {
        margin-top: 0;
        transform: none;
    }

    #blocked-times-setter-wrapper {
        transform: none;
        margin-top: 0;
    }
}



