#calendar-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    background-image: url('../assets/arizona-background-picture-3.jpg');
    background-size: cover;
}

#appointment-header {
    justify-self: center;
    font-size: 3rem;
    text-align: center;
    margin-top: 30vh;
}

#calendar-wrapper {
    margin-top: 10px;
    justify-self: center;
}

#appointment-selector {
    font-size: 1.6rem;
    display: grid;
    flex-direction: column;
    justify-self: center;
    border: 1px solid black;
    align-self: center;
    margin-bottom: 20%;
    background: linear-gradient(45deg, #ba76cc, transparent);
    box-shadow: 5px 8px 20px rgba(0, 0, 0, 0.582), 5px 10px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
    border-radius: 20px;
    width: 400px;
}

.appointment-selector-header {
    justify-self: center;
}

.appointment-selector-header:first-of-type {
    margin-bottom: -20px;
}

#appointment-time-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 1.5rem;
    justify-self: center;
    list-style-type: none;
}

.time-label {
    border: 1px solid black;
    color: black;
    background-color: #c496cbd3;
    cursor: pointer;
    width: 100px;
}

#hours {
    display: flex;
    justify-content: center;
    margin-top: -40px;
    text-align: center;
    padding: 10px;
    justify-self: center;
}

.days:first-of-type {
    margin-top: 0;
}

.days {
    margin-bottom: -20px;
    text-decoration: underline;
}

.time:not(:nth-of-type(3)) {
    margin-bottom: -20px;
}

.time:nth-of-type(3) {
    margin-bottom: 0;
}

#appointment-confirmation {
    display: grid;
    flex-direction: column;
    border-radius: 10px;
    background: linear-gradient(45deg, #c544e8, transparent);
    border: 1px solid black;
    padding: 5px;
    padding-bottom: 50px;
    margin-bottom: 100px;
    box-shadow: 10px 8px 20px rgba(0, 0, 0, 0.582), 5px 10px 4px rgba(0, 0, 0, 0.2);
}

#appointment-confirmation:hover {
    transform: translateY(-2px);
}

#confirmation-button-wrapper {
    display: flex;
    justify-self: center;
    
}
#selected-time {
    text-align: center;
}

#selected-time ~ button {
    justify-self: center;
}

#confirm-button {
    background-color: #007700;
    border-radius: 10px;
    width: 70px;
    font-weight: bold;
    font-size: 1rem;
    margin-left: -10px;
    font-family: 'PTSansNarrow';
    box-shadow: 2px 2px 3px black;
    cursor: pointer;
    text-align: center;
}

#confirm-button:hover {
    background-color: #003c00;
    color: silver;
    transform: translateY(-2px);
}

#cancel-button:hover {
    background-color: #801c01;
    color: silver;
    transform: translateY(-2px);
}

#cancel-button {
    background-color: #ff3801;
    border-radius: 10px;
    width: 70px;
    font-weight: bold;
    font-size: 1rem;
    margin-left: 50px;
    font-family: 'PTSansNarrow';
    box-shadow: 2px 2px 3px black;
    cursor: pointer;
    text-align: center;
}

.time-input {
    cursor: pointer;
}

@media only screen and (min-width: 412px) and (orientation:landscape) {
    #calendar-body {
        height: 200%;
    }
}

@media only screen and (min-width: 320px) {
    #calendar-body {
        height: 200%;
    }
    #calendar-wrapper {
        width: 300px;
    }
}




