
.react-calendar__tile--now {
    background-color: #f0610b  !important;
    border-radius: 50%;
}

.react-calendar__tile--active {
    border-radius: 50%;
    z-index: 1;
    background-color: #4FACF7 !important;
}

abbr {
    text-decoration: none;
}

.react-calendar {
    background-color: #f5efbf58 !important;
    border-radius: 20px;
    box-shadow: 0px 2px 8px 1px black;
}

.react-calendar__navigation__label {
    font-family: 'DMSerifDisplay';
    font-weight: bold;
    font-size: 1.5rem;
    pointer-events: none;
}

.react-calendar__navigation__label:disabled {
    background-color: #f5efbf58 !important;
}

.react-calendar__navigation__arrow {
    font-weight: bold;
    font-size: 1rem;
}

.react-calendar__navigation__arrow.react-calendar__navigation__prev2-button {
    display: none;
}

.react-calendar__navigation__arrow.react-calendar__navigation__prev-button {
    border-top-left-radius: 19px;
}

.react-calendar__navigation__arrow.react-calendar__navigation__next2-button {
    display: none;
}

.react-calendar__navigation__arrow.react-calendar__navigation__next-button:disabled {
    background-color: rgba(118, 96, 72, 0.458) !important;
}

.react-calendar__navigation__arrow.react-calendar__navigation__next2-button:disabled:hover {
    background-color: rgba(118, 96, 72, 0.458) !important;
}

.react-calendar__navigation__arrow.react-calendar__navigation__next-button:disabled:hover {
    background-color: rgba(118, 96, 72, 0.458) !important;
}

.react-calendar__navigation__arrow.react-calendar__navigation__next-button {
    border-top-right-radius: 19px;
}

.react-calendar__navigation__arrow.react-calendar__navigation__prev-button:disabled {
    background-color: rgba(118, 96, 72, 0.458) !important;
}

.react-calendar__navigation__arrow:hover {
    background-color: #8ebfe8  !important;
}

.react-calendar__navigation__label:hover {
    background-color: #8ebfe8  !important;
}

.react-calendar__month-view {
    font-family: 'DMSerifDisplay';
    font-size: 1rem;
}

.react-calendar__month-view__days button{
    font-family: 'DMSerifDisplay';
    font-size: 1rem;
}

.react-calendar__month-view__days button:hover {
    background-color: #8ebfe8   !important;
    border-radius: 20px;
}

.react-calendar__tile:disabled {
    background-color: rgba(204, 137, 61, 0.458) !important;
}

.react-calendar__tile:disabled:hover {
    background-color: rgba(204, 137, 61, 0.458) !important;
    border-radius: 0;
}

.react-calendar__month-view__days__day:last-of-type {
    border-bottom-right-radius: 20px;
}

.react-calendar__month-view__days__day:last-of-type:hover {
    border-bottom-right-radius: 20px;
}

.react-calendar__month-view__days__day:disabled {
    border-radius: 20px;
}

.react-calendar__month-view__days__day:disabled:hover {
    border-radius: 20px;
}