
#menu-button-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    height: 26px;
    width: 30px;
    margin-right: 55px;
}

#menu-toggle {
    opacity: 0;
}

#menu-button,
#menu-button::before,
#menu-button::after {
    display: block;
    position: absolute;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.320, 1);
    width: 30px;
    height: 4px;
    background-color: rgb(106, 91, 60);
    border-radius: 2px;
}

#menu-button::before {
    content: '';
    margin-top: 7px;
}

#menu-button::after {
    content: '';
    margin-top: -7px;
}

#menu-toggle:checked + #menu-label #menu-button-container #menu-button {
    background-color: #f5efbf;
}

#menu-toggle:checked + #menu-label #menu-button-container #menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked + #menu-label #menu-button-container #menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

#menu-toggle ~ #menu li {
    height: 0;
    margin: 0;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 0;
    padding-bottom: 0;
    border: 0;
    overflow: hidden;
    transition: height 500ms cubic-bezier(0.23, 1, 0.320, 1);
    z-index: 0;
}

#menu-toggle ~ #menu li:first-of-type {
    border-top: .1px solid black;
}

#menu {
    position: absolute;
    top: 0;
    right: .1em;
    flex-direction: column;
    width: 8em;
    z-index: 1;
}

#menu-toggle:checked ~ #menu li {
    height: 2.5em;
    padding: 0.5em;
    border: 1px solid rgb(106, 91, 60);
    border-right: none;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    z-index: 1;
}

#menu-toggle:checked ~#menu li:first-child {
    margin-top: -8.2px;
}

#menu-toggle ~ #menu li:first-child {
    margin-top: -8.2px;
}

#menu-toggle:checked ~ #menu li:not(:last-child) {
    border-bottom: none;
}

#menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    background-color: #f5efbf;
    text-align: center;
  }

.dropdown-item {
    color: rgb(106, 91, 60);
    font-weight: bold;
    font-family: 'DMSerifDisplay', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
}

#call-now {
    color: rgb(106, 91, 60);
    font-weight: bold;
    text-decoration: none;
}

@media screen and (max-width: 480px) {

    #menu {
        margin-top: 47.5px;
        margin-right: 1em;
    }
}

@media screen and (min-width: 568px) {
    #menu {
        margin-top: 56px;
        margin-right: .9em;
        border-right: 1px solid rgb(106, 91, 60);
    }
}

@media screen and (min-width: 1025px) {
    #menu {
        margin-top: 55px;
        margin-right: -1px;
    }

    #menu > li {
        margin-top: 1px;
    }
}

@media screen and (max-width: 320px) {
    #menu-button,
    #menu-button::before,
    #menu-button::after {
        display: block;
        position: absolute;
        transition: transform 400ms cubic-bezier(0.23, 1, 0.320, 1);
        width: 20px;
        height: 3px;
        background-color: rgb(106, 91, 60);
        border-radius: 2px;
    }

    #menu-button-container {
        margin-right: 10px;
    }

    #menu-toggle ~ #menu {
        margin-top: 33px;
        margin-right: 7.4px;
        width: 50px;
    }

    #menu li {
        font-size: .5rem;
        z-index: 1;
    }
}

@media screen and (max-width: 390px) {
    #menu {
        margin-top: 37.5px;
    }
}
