
#menu-button-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    height: 26px;
    width: 30px;
    margin-right: 55px;
}

#menu-toggle {
    opacity: 0;
}

#menu-button,
#menu-button::before,
#menu-button::after {
    display: block;
    position: absolute;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.320, 1);
    width: 30px;
    height: 4px;
    background-color: rgb(106, 91, 60);
    border-radius: 2px;
}

#menu-button::before {
    content: '';
    margin-top: 7px;
}

#menu-button::after {
    content: '';
    margin-top: -7px;
}

#menu-toggle:checked + #menu-label #menu-button-container #menu-button {
    background-color: #f5efbf;
}

#menu-toggle:checked + #menu-label #menu-button-container #menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked + #menu-label #menu-button-container #menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

#menu-toggle ~ #menu li {
    height: 0;
    margin: 0;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 0;
    padding-bottom: 0;
    border: 0;
    overflow: hidden;
    transition: height 500ms cubic-bezier(0.23, 1, 0.320, 1);
    box-shadow: -1px 2px 10px 0px black;
    z-index: 0;
}

#menu-toggle ~ #menu li:first-of-type {
    box-shadow: 0px 4px 10px 0px black;
}

#menu {
    position: absolute;
    display: flex;
    align-items: flex-start;
    padding-inline-start: 0;
    right: -.13em;
    flex-direction: column;
    width: 8em;
    z-index: 1;
}

#menu-toggle:checked ~ #menu li {
    height: 2.5em;
    padding: 0.5em;
    flex-wrap: wrap;
    border: 1px solid rgb(106, 91, 60);
    text-align: center;
    align-content: center;
    border-right: none;
    box-shadow: -1px 4px 10px 0px black;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    z-index: 1;
}

#menu-toggle:checked ~ #menu li:first-of-type {
    box-shadow: -1px 7px 10px 0px black;
}

#menu-toggle:checked ~ #menu li:hover {
    background-color: #f7de8a;
}

#menu-toggle:checked ~#menu li:first-child {
    margin-top: -10.3px;
}

#menu-toggle ~ #menu li:first-child {
    margin-top: -10.3px;
}

#menu-toggle:checked ~ #menu li:not(:last-child) {
    border-bottom: none;
}

#menu > li {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    background-color: #f5efbf;
    text-align: center;
  }

.dropdown-item {
    color: rgb(106, 91, 60);
    text-align: center;
    height: max-content;
    font-weight: bold;
    font-family: 'PTSansNarrow', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
}

#call-now {
    color: rgb(106, 91, 60);
    font-weight: bold;
    text-decoration: none;
}

@media (min-width: 1000px) {

    #menu-button-container {
        margin-right: 50%x;
    }

    #menu {
        margin-right: 0rem;
    }
}

@media (max-width: 480px) {

    #menu {
        margin-top: .8rem;
        margin-right: 1.3em;
    }
}

@media (max-width: 350px) {
    #menu-button,
    #menu-button::before,
    #menu-button::after {
        width: 20px;
        height: 3px;
    }

    #menu-toggle ~ #menu {
        margin-top: .65rem;
        margin-right: .95rem;
        width: 18%;
    }

    #menu li {
        font-size: .8rem;
        z-index: 1;
    }

    #menu-button-container {
        margin-right: 15px;
    }
}

@media (max-width: 280px) {
    #menu-toggle ~ #menu {
      margin-right: 12px;  
    }
}

@media (orientation: landscape) and (max-height: 500px) {

    #menu-button-container {
        margin-right: 55px;
    }

    #menu {
        margin-right: 1px;
    }

    #menu li {
        width: 100%;
        align-self: last baseline;
    }
}
