.app-footer {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: max-content;
    border-top: 1px solid rgb(49, 43, 38);
    font-weight: bold;
}

.app-footer.home {
    background-color: rgb(160, 114, 46);
}

.app-footer.about {
    background-color: rgb(233, 228, 202);
}

.footer-content.quote, .footer-content.appointment{
    color: black;
}

.footer-content.footer-company-name.quote, .footer-content.footer-company-name.appointment {
    color: black;
}

.footer-tabs {
    text-align: center;
    justify-self: center;
}

#footer-tabs-wrapper {
    align-self: center;
    justify-self: center;
}

#footer-info-wrapper {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
}

.footer-content.footer-company-name {
    color: white;
    font-size: 1.5rem;
    margin-left: 5px;
}

.footer-content.footer-company-name.about {
    color: black;
}
.footer-content.about {
    color: black;
}

.footer-content.about ~ span {
    color: black;
}

#NNA-emblem {
    width: 150px;
    align-self: center;
}

#AZ-state-flag {
    width: 150px;
    align-self: center;
}

@media (max-width: 500px) {
    .footer-content.footer-company-name {
        font-size: 1rem;
    }

    .footer-tabs {
        font-size: .7rem;
    }

    #NNA-emblem {
        width: 100px;
    }

    #AZ-state-flag {
        width: 100px;
    }
}

@media (max-width: 400px) {
    .footer-content.footer-company-name {
        font-size: 1rem;
    }

    .footer-tabs {
        font-size: .6rem;
    }

    #NNA-emblem {
        width: 80px;
    }

    #AZ-state-flag {
        width: 80px;
    }
}


@media (orientation: landscape) {
    #app-footer {
        height: 20vh;
    }

    .footer-content.footer-company-name {
        font-size: 1rem;
    }

    #footer-tabs-wrapper {
        margin-bottom: 10px;
    }
    
    .footer-tabs {
        font-size: .7rem;
    }
    
    #NNA-emblem {
        width: 7rem;
    }
    
    #AZ-state-flag {
        width: 7rem;
    }
}

@media (orientation: landscape) and (min-width: 1000px) {
    
    .footer-content.footer-company-name {
        font-size: 1.5rem;
    }
    
    .footer-tabs {
        font-size: 1rem;
    }
}

@media (orientation: landscape) and (max-width: 900px) {
    #NNA-emblem {
        width: 4.5rem;
        margin-bottom: 20px;
    }
    
    #AZ-state-flag {
        width: 4.5rem;
        margin-bottom: 20px;
    }
    
    .footer-tabs:last-of-type {
        margin-bottom: 10px;
    }
}

@media (orientation: portrait) {
    
    .footer-content.footer-company-name {
        font-size: .9rem;
    }
}

@media (max-width: 320px) {
    .footer-content.footer-company-name {
        font-size: 1rem;
    }

    #NNA-emblem {
        width: 75px;
    }

    #AZ-state-flag {
        width: 75px;
    }
}