

header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100vw;
    background-color: #f5efbf;
    padding: 0;
    border-bottom: 1px solid black;
    z-index: 2;
}

header #header-webname {
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 10px;
    color: rgb(49, 43, 38);
    font-size: 1.8rem;
    text-decoration: underline;
}

header {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    flex-direction: column;
    width: content;
    justify-items: center;
    padding: 2px;
    padding: 5px;
    margin: 5px;
}

@media screen and (max-width: 480px) {
    header #header-webname {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 320px) {
    header #header-webname {
        font-size: 1rem;
    }
}