
header {
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: rgba(0, 0, 0, 0);
    flex-wrap: wrap;
    align-items: center;
    width: 100vw;
    z-index: 100;
    margin-top: 20px;
}

#nav-list {
    display: flex;
    align-items: flex-end;
    width: 100vw;
    justify-content: space-evenly;
}

.route-link {
    text-decoration: none;
    font-size: 1.5vw;
}

header #header-webname {
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 10px;
    color: white;
    font-size: 2.5vw;
    text-decoration: underline;
    grid-area: webname;
}

.logo {
    display: flex;
    flex-direction: column;
    width: content;
    justify-items: center;
    padding: 2px;
    padding: 5px;
    margin: 5px;
}

@media (orientation: portrait) {
    header #header-webname {
        font-size: 2vh;
    }

    .route-link {
        font-size: 1.5vh;
    }
}
