#homepage-head {
    display: flex;
    background-image:url('../assets/phoenix-picture-2.jpg');
    background-position: center top -20vw;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    height: 85vh;
    width: 100vw;
}


#header-section {
    display: grid;
    margin-top: 0;
    flex-grow: .2;
    width: 100%;
    height: 100%;
    justify-content: center;
}

#company-logo {
    display: grid;
    max-width: 100vw;
    margin-top: 20vw;
    height: max-content;
    justify-content: center;
    justify-self: center;
}

#company-name {
    text-align: center;
    color: white;
    font-size: 4vmax;
    margin-bottom: 0;
}

#company-name-continued {
    margin-top: 0;
    text-align: center;
    font-size: 2vmax;
    margin-bottom: 0;
    padding: 10px;
}

#head-quote {
    font-size: 1.5vmax;
    text-align: center;
    color: white;
    margin-bottom: 0;
    margin-top: 0;
    padding: 20px;
    padding-top: 0;
}

#homepage-body {
    display: grid;
    height: 50vh;
}

#body-header {
    margin-top: 50px;
    margin-bottom: 0;
    color: rgb(160, 114, 46);
    justify-self: center;
    font-size: 4vw;
    text-align: center;
    padding: 10px;
    padding-bottom: 0;
    margin-bottom: 0;
}

#body-p {
    padding: 20%;
    padding-bottom: 0;
    padding-top: 0;
    font-size: 1.5vw;
    margin-bottom: 0;
    color: rgb(99, 62, 3);
}

#contact-us-button {
    display: flex;
    white-space: nowrap;
    background-color: rgb(160, 114, 46);
    border-radius: 25px;
    height: 4vmax;
    text-align: center;
    justify-content: center;
    justify-self: center;
    margin-bottom: 20%;
    margin-top: 10%;
}

#call-now {
    color: white;
    text-decoration: none;
    align-self: center;
    justify-self: center;
    font-size: 2.5vw;
    padding: 5px;
}

@media (orientation: portrait) {
    #homepage-head {
        background-position: center left -100px;
    }

    #body-header {
        font-size: 6vw;
        padding-bottom: 0;
    }

    #body-p {
        padding: 8%;
        padding-bottom: 0;
        padding-top: 0;
        font-size: 3vw;
        margin-bottom: -10%;
    }

    #company-logo {
        margin-top: 25vh;
    }
}

@media (orientation: landscape) {
    #homepage-body {
        height: 75vh;
    }

    #contact-us-button {
        margin-top: 8vh;
    }

    #call-now {
        font-size: 2vw;
    }
}

@media (orientation: landscape) and (max-height: 280px) {
    #company-logo {
        margin-top: 40vh;
    }
}
