
#header-section {
    margin-top: 2%;
    background-position: unset;
    background-size: cover;
    height: 50%;
    width: 70%;
    justify-self: center;
    opacity: 0;
    animation: fade-in-animation 3s forwards;
}

#app-head {
    display: grid;
    height: 90vh;
    width: 100vw;
    background-image: url('../assets/desert-scene-background.jpeg');
    background-position: center;
    background-size: cover;
}


#company-logo {
    display: grid;
    height: 50%;
    align-content: flex-end;
    gap: 10%;
}

#company-name {
    display: flex;
    font-size: 3rem;
    align-items: center;
    width: max-content;
    height: 50px;
    justify-self: center;
    margin-bottom: 3%;
    text-decoration: underline;
    color: rgb(49, 43, 38);
    text-align: center;
    margin-top: 40rem;
}

#head-quote {
    justify-self: center;
    margin-bottom: 0;
    color: rgb(49, 43, 38);
    text-align: center;

}

@media (max-width: 783px) {
    #company-name {
        margin-top: 60rem;
        font-size: 2rem;
    }

    #head-quote {
        font-size: 1rem;
    }
}

@media (max-width: 600px) {
    #company-name {
        margin-top: 30rem;
    }
}

@media (max-width: 350px) {
    #company-name {
        font-size: 1.5rem;
        margin-top: 200%;
    }
}

@media (orientation: landscape) {

    #company-name {
        margin-top: 100%;
    }

    #head-quote {
        font-size: 1.5rem;
    }

    #app-head {
        background-position:unset;
    }
}

@media (orientation: landscape) and (max-width: 780px) {
    #company-name {
        margin-top: 120%;
    }

    #head-quote {
        font-size: 1rem;
    }
}

@media (orientation: landscape) and (max-height: 380px) {
    #company-name {
        margin-top: 120%;
        font-size: 2rem;
    }

    #head-quote {
        margin-top: 0;
        font-size: 1rem;
    }
}

@keyframes fade-in-animation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*
@media screen and (min-width: 1025px) {
    #company-logo {
        margin-top: 10px;
    }
}

@media screen and (min-width: 568px) {
    #company-logo {
        margin-top: -7%;
    }
}

@media screen and (max-width: 920px) {
    #company-logo {
        margin-top: 200px;
    }

    #company-name {
        margin-bottom: auto;
        margin-top: 200px;
    }

    #head-quote {
        margin-top: -60px;
    }
}

@media screen and (max-width: 820px) {
    #company-logo {
        margin-top: 10px;
    }
    
    #head-quote {
        margin-top: -90px;
    }

}

@media screen and (max-width: 770px) {
    #head-quote {
        margin-top: -8px;
    }
}

@media screen and (max-width: 480px) {

    #company-name {
        font-size: 250%;
        margin-top: 100px;
        margin-bottom: auto;
    }

    #header-section {
        height: 40%;
    }

    #head-quote {
        margin-top: 10%;
    }
}

@media screen and (min-width: 375px) {
    #company-logo {
        margin-top: -30;
        margin-left: -20px;
    }
}


@media screen and (max-width: 360px) {
    #company-logo {
        justify-content: center;
    }
}

@media screen and (max-width: 320px) {
    #company-logo {
        margin-top: -80px;
    }

    #head-quote {
        font-size: 1rem;
    }
}

@media screen and (max-width: 280px) {
    #company-logo {
        margin-top: 20px;
    }
}

@media screen and (max-height: 420px) {
    #app-head {
        height: 200vh;
    }

    #company-name {
        margin-bottom: 50px;
    }
}
*/