#address-input-and-list {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
}

#address-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    padding-top: 0;
    align-self: center;
    width: max-content;
    width: 81%;
}

#address-list ul{
    background-color: bisque;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin-top: 0;
    width: 100%;
}

.address-list-item {
    border: 1px solid rgb(49, 43, 38);
    cursor: pointer;
    align-self: center;
    width: 100%;
    color: black;
}

.address-list-item:hover {
    background-color: #f3e896a3;
}

#google-logo {
    align-self: flex-end;
    height: 22px;
    margin-left: 10px;
    margin-bottom: -5px;
}
