#quote-body {
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 100vw;
}

#quote-header-wrapper {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 60vw;
    background-image: url('../assets/Arizona-Sunset-Piture.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-items: center;
    align-items: center;
}

#your-free-quote {
    margin-top: 20vw;
    font-size: 6vmax;
    margin-bottom: 0;
}

#quote-header-wrapper h2 {
    font-size: 2vw;
    text-align: center;
}


.final-quote {
    margin-bottom: 0;
    margin-top: 0;
}

.final-quote:last-of-type {
    margin-bottom: 50px;
}

#quote-calculator {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: max-content;
    background-color: bisque;
}

#quote-data {
    text-align: center;
    margin-top: 10vh;
    margin-right: 6vh;
    align-self: center;
    font-size: 1.5rem;
}

#quote-data p {
    color: black;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    width: 40%;
    align-self: center;
    margin-bottom: 10vh;
    margin-top: 10vh;
    padding: 10px;
    background-color: white;
    box-shadow: 2px 2px 10px 2px black;
}

.input-label {
    color: black;
    text-align: center;
}

#services-dropdown {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-self: center;
}

.button-input {
    width: 80%;
    height: 30px;
    align-self: center;
    color: black;
    font-family: 'Bree Serif';
    background-color: rgb(232, 171, 98);
    font-weight: bold;
}

#services-menu {
    display: flex;
    align-self: center;
    flex-wrap: wrap;
    width: 80%;
    z-index: 1;
}

#services-list {
    list-style-type: none;
    align-items: flex-start;
    padding-left: 0;
    margin-top: 0;
    width: 100%;
}

.service-label {
    color: black;
    cursor: pointer;
}

.service-input {
    cursor: pointer;
}

.button-input ~ #services-menu .service-li {
    border: none;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-in-out
}

.button-input.clicked ~ #services-menu .service-li {
    border: 1px solid black;
    height: 60px;
    transform: scaleY(1);
    width: 99.5%;
}

.service-li {
    background-color: bisque;
    z-index: 2;
}

.button-input.clicked ~ #services-menu .service-li:not(:last-of-type) {
    border-bottom: none;
}

.input-label {
    display: flex;
    flex-direction: column;
}

.label-and-img {
    color: black;
}

#number-input {
    width: 20px;
    height: 20px;
    color: black;
}

.button-input.clicked ~ #services-menu .service-li.number {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
}

.input {
    width: 80%;
    height: 30px;
    align-self: center;
    color: black;
}

#yes-no {
    align-self: center;
    padding: 10px;
    padding-top: 0;
}

.yes-no-label {
    color: black;
}

#chosen-appointment {
    text-align: center;
    color: black;
    margin-top: 0;
    margin-bottom: 0;
}

.textarea {
    color: black;
    width: 80%;
    align-self: center;
    height: 15vmax;
    font-weight: bold;
}

#send-button {
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 50%;
    height: 20px;
    align-self: center;
    color: black;
    background-color: green;
    font-weight: bold;
    border-radius: 20px;
}

@media (orientation: portrait), (max-width: 500px) {
    #quote-calculator {
        display: flex;
        flex-direction: column;
    }

    .input-wrapper {
        width: auto;
        margin-top: 0;
    }

    #quote-header-wrapper {
        height: 50vh;
    }

    #quote-header-wrapper h2 {
        text-align: center;
        padding: 20px;
        font-size: 2vh;
    }

    #quote-data {
        margin-right: 0;
        font-size: 5vw;
    }
}

@media (orientation: landscape) and (max-width: 500px) {
    .textarea {
        max-width: 80%;
        height: 20vmax;
    }

    #quote-data {
        font-size: x-large;
    }

    #quote-header-wrapper {
        display: flex;
        height: max-content;
    }

    #quote-header-wrapper h2 {
        font-size: 4vh;
    }
}


