#quote-body {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 100px;
    margin-top: 0;
    width: 100vw;
    height: 800px;
    background-image: url('../assets/layered-peaks-haikei-6.svg');
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
}

#quote-header-wrapper {
    margin-top: 0;
    opacity: 0;
    animation: fade-in-animation 3s ease-out forwards;
}

@keyframes drag-in-animation {
    from {
        opacity: 0;
        transform: translateY(500px);
    }
    
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#quote-header-wrapper p {
    font-size: 1.5rem;
    margin-left: 6rem;
}

#your-free-quote {
    margin-left: 20%;
    font-size: 4rem;
    margin-bottom: 0;
    margin-top: 50%;
    text-shadow: 8px 7px 4px rgb(0, 0, 0, .3);
}

#quote-calculator {
    margin-top:5%;
    width: 20em;
    margin-left: 10%;
    height: 500px;
    animation: fade-in-animation 3s forwards;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    width: max-content;
}

.input-label {
    display: flex;
    font-size: 1.3rem;
    font-weight: bold;
}

.input {
    width: 12rem;
    border: 1px solid black;
    height: 30px;
    box-shadow: 1px 4px 8px -2px black;
    font-family: 'PTSansNarrow';
    font-weight: bold;
}

.input:hover {
    transform: translateY(-2px);
}

.button-input:hover {
    transform: translateY(-2px);
}

.button-input {
    display: flex;
    box-shadow: 1px 4px 8px -2px black;
    align-items: center;
    flex-direction: row;
    width: 12.5rem;
    height: 30px;
    padding: 0;
    margin: 0;
    text-align: start;
    text-indent: 3px;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgb(49, 43, 38);
    font-family: 'PTSansNarrow';
    font-size: .8rem;
    font-weight: bold;
}

.button-input:hover {
    background-color: #f3e896a3;
}

.button-input::after {
    content: '';
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    border-bottom: 8px solid rgb(49, 43, 38);
    margin-left: 60%;
    transform: rotate(-360deg);
    transition: transform 0.3s ease;
}

.button-input.clicked::after {
    content: '';
    transform: rotate(180deg);
}

.input-label.appointment-prompt ~ .button-input::after {
    display: none;
}

#services-menu {
    position: absolute;
    margin-top: 56px;
    width: 12.5rem;
}

#services-list {
    margin-top: 0;
    padding: 0;
}

.service-li {
    list-style-type: none;
    text-indent: 3px;
    height: 0px;
    background-color: #f5efbfa3;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    overflow: hidden;
    font-weight: bold;
}

.service-label {
    cursor: pointer;
}

.service-input {
    cursor: pointer;
}

#number-input {
    width: 30px;
    margin-left: 37%;
    margin-bottom: 10px;
}

.button-input.clicked ~ #services-menu #services-list > .service-li {
    border: 1px solid rgb(49, 43, 38);
    background-color: #f5efbfd8;
    height: 44px;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    overflow: visible;
}

.service-li-number {
    list-style-type: none;
    height: 0px;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    overflow: hidden;
    font-weight: bold;
}

.button-input.clicked ~ #services-menu #services-list > .service-li-number {
    height: 50px;
    list-style-type: none;
    border: 1px solid rgb(49, 43, 38);
    background-color: #f5efbfa3;
}

#address-list {
    z-index: 2;
    font-weight: bold;
}

.button-input ~ #yes-no #yes-no-selector {
    height: 0;
    margin-bottom: 0;
    margin-top: -1px;
    width: 9.9rem;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    background-color: #f5efbfa3;
    z-index: 0;
    overflow: hidden;
    font-weight: bold;
}

.button-input.clicked ~ #yes-no #yes-no-selector {
    height: 20px;
    margin-bottom: 0;
    width: 9.9rem;
    list-style-type: none;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border: 1px solid rgb(49, 43, 38);
    background-color: #f5efbfa3;
}

.button-input.clicked ~ #yes-no #yes-no-selector:hover {
    transform: translateY(-1px);
}

#yes-no-selector {
    text-align: center;
}

.yes-no-label.no {
    margin-left: 60px;
}

.yes-no-label.yes {
    margin-left: -40px;
}

.button-input ~ #yes-no #yes-no-selector {
    text-align: center;
}

.input.address {
    width: 14rem;
}

.final-quote {
    margin: 0;
    margin-right: 70px;
    font-style: italic;
    text-shadow: 10px 7px 4px rgb(0, 0, 0, .3);
}

.final-quote:first-of-type {
    margin-top: 10px;
}

.textarea.email-content {
    height: 170px;
    width: 350px;
    font-family: 'PTSansNarrow';
    font-size: 1rem;
}

#send-button {
    width: 40%;
    margin-left: 100px;
    margin-top: 5px;
    background-color: #f5efbfd8;
    border-radius: 20px;
    border: 1px solid rgb(49, 43, 38);
}

#send-button:hover {
    background-color: #f3e896a3;
    cursor: pointer;
}

.email {
    margin-top: 2px;
    display: grid;
}

.email.sent #confirmation-symbol{
    background-color: green;
    border: 2px solid black;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    justify-self: center;
    margin-left: -15px;
    margin-top: -30%;
}

.email.failed #confirmation-symbol{
    background-color: red;
    border: 2px solid black;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    justify-self: center;
    margin-left: -15px;
    margin-top: -30%;
}

.email.sent #confirmation-symbol::after {
    content: '';
    display: block;
    height: 5px;
    width: 15px;
    margin-top: 6%;
    margin-left: 10%;
    border-radius: 4px;
    transform: rotate(40deg);
    justify-self: center;
    background-color: white;
}

.email.sent #confirmation-symbol::before {
    content: '';
    display: block;
    height: 5px;
    width: 31.4px;
    margin-left: 22.9%;
    border-radius: 4px;
    margin-top: 45%;
    transform: rotate(130deg);
    justify-self: center;
    background-color: white;
}

.email.failed #confirmation-symbol::after {
    content: '';
    display: block;
    height: 5px;
    width: 35px;
    margin-left: 3px;
    border-radius: 4px;
    margin-top: 17px;
    transform: rotate(130deg);
    justify-self: center;
    background-color: white;
}

.email.failed #confirmation-symbol::before {
    content: '';
    z-index: 1;
    position: absolute;
    display: block;
    height: 5px;
    width: 35px;
    margin-top: 17px;
    margin-left: 4px;
    border-radius: 4px;
    transform: rotate(-130deg);
    justify-self: center;
    background-color: white;
}

.textarea.email-content {
    box-shadow: 1px 4px 8px -2px black;
    font-weight: bold;
}

.textarea.email-content:hover {
    transform: translateY(-2px);
}



@media screen and (max-width: 940px) {
    #quote-body {
        height: 100vh;
    }
    
    #your-free-quote {
        margin-top: 100%;
    }
    
    #quote-calculator {
        margin-left: 0px;
        margin-top: 300px;
    }
    
    .textarea.email-content {
        width: 280px;
    }
}

@media screen and (max-width: 820px) {
    #quote-calculator {
        margin-left: -30px;
    }
}

@media screen and (max-width: 770px) {
    #quote-body {
        display: flex;
        height: fit-content;
        min-height: 800px;
    }

    #your-free-quote {
        margin-left: 10px;
        margin-top: 50%;
    }

    .final-quote {
        margin-right: 0;
    }

    #quote-calculator {
        margin-left: -10px;
        margin-top: 100px;
    }
}

@media screen and (max-width: 480px) {
    #quote-body #quote-header-wrapper p:last-of-type{
        margin-bottom: 20px;
    }

    #your-free-quote {
        margin-top: 20px;
        margin-left: 10px;
        text-shadow: none;
    }

    #services-menu {
        width: 12.5rem;
        margin-left: 0;
        margin-top: 57px;
        z-index: 2;
    }

    .textarea.email-content {
        width: 300px;
    }

    #quote-header-wrapper p {
        font-size: 1.5rem;
        margin-left: 15%;
    }

    #quote-header-wrapper {
        margin-top: 15px;
    }

    #send-button {
        margin-left: 80px;
        height: 40px;
    }

    .email.sent #confirmation-symbol {
        margin-left: 0;
        margin-top: -40%;
    }

    .email.failed #confirmation-symbol {
        margin-left: 0;
        margin-top: -40%;
    }

    #quote-calculator {
        display: grid;
        flex-direction: column;
        justify-content: center;
        margin-top: -170px;
        width: 20em;
        margin-left: 8%;
        height: 500px;
    }

    #quote-body {
        display: flex;
        min-height: 1000px;
    }

    .button-input {
        z-index: 1;
    }

    .button-input::after {
        display: none;
    }

    .input.address {
        z-index: 1;
    }

    .final-quote {
        text-shadow: none;
    }

    #quote-calculator {
        margin-top: -250px;
    }

    .input.name {
        z-index: 1;
    }

    .button-input ~ #yes-no #yes-no-selector {
        z-index: 3;
    }

    .button-input ~ #yes-no {
        z-index: 3;
    }
}

@media screen and (max-width: 390px) {
    #quote-body {
        display: grid;
        justify-items: center;
    }

    #your-free-quote {
        font-size: 2rem;
        justify-self: center;
    }

    #quote-header-wrapper p {
        font-size: 1rem;
        margin-left: 20px;
    }

    .input-label {
        font-size: 1rem;
    }

    .button-input {
        background-color: #f5efbfa3;
        width: 200px;
        height: 25px;
    }

    #services-menu {
        margin-top: 46px;
        font-size: .8rem;
    }

    .button-input.clicked ~ #services-menu #services-list > .service-li{
        height: 25px;
    }

    .button-input.clicked ~ #services-menu #services-list > .service-li input {
        height: 10px;
        margin-top: 10px;
    }

    .input {
        width: 200px;
        height: 15px;
    }

    .textarea.email-content {
        width: 200px;
    }

    #quote-calculator {
        margin-left: -50px;
    }

    .email.sent #confirmation-symbol{
        background-color: green;
        border: 2px solid black;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        justify-self: center;
        margin-left: -40px;
        margin-top: 10px;
    }

    .email.failed #confirmation-symbol{
        background-color: red;
        border: 2px solid black;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        justify-self: center;
        margin-left: -40px;
        margin-top: 10px;
    }

    #send-button {
        width: 40%;
        height: 35px;
        margin-left: 53px;
        margin-top: 5px;
        background-color: #f5efbfd8;
        border-radius: 20px;
        border: 1px solid rgb(49, 43, 38);
    }
}
@media screen and (max-width: 320px) {
    .textarea.email-content {
        font-size: .8rem;
    }

    #services-menu {
        margin-top: 43px;
    }
}

@media screen and (min-width:390px) {
    #quote-header-wrapper p:last-of-type {
        margin-bottom: -200px;
    }
}

@media screen and (max-width: 375px) {
    #quote-header-wrapper p:last-of-type {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 414px) {
    #quote-header-wrapper p:last-of-type {
        margin-bottom: 20px;
    }
}

@media screen and (max-height: 420px) {

    #quote-body {
        display: flex;
        height: fit-content;
        min-height: 800px;
    }

    #your-free-quote {
        margin-top: 300px;
    }

    #quote-calculator {
        margin-top: 20%;
    }
}

@media screen and (max-height: 380px) {
    #quote-body {
        display: grid;
        flex-direction: column;
        justify-content: center;
        min-height: 1000px;
    }

    #your-free-quote {
        margin-top: 100px;
        text-align: center;
    }

    #quote-calculator {
        margin-top: 0;
        margin-left: 10%;
    }

    .final-quote {
        margin-right: 170px;
    }

    #send-button {
        margin-left: 80px;
    }
}

@media screen and (max-height: 320px) {
    #quote-calculator {
        margin-top: -100px;
    }
}

@media screen and (max-height:740px) {
    .final-quote:nth-of-type(2) {
        margin-right: -30px;
    }
}

@media only screen and (min-width: 480px) and (orientation:landscape) {
    #your-free-quote {
        text-align: start;
    }
    #quote-calculator {
        margin-top: 100px;
    }
}

